In [2]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
data = pd.read_csv('./outputs/primer_modelo_limp_data.csv')

In [4]:
data.groupby(data["conversion"]>=0.5).count()

            ROW_ID  conversion
conversion
False        19014       19014
True           197         197

In [5]:
data2 = pd.read_csv('./outputs/basic_model.csv')

In [6]:
data2.groupby(data2["conversion"]>=0.5).count()

            ROW_ID  conversion
conversion
False        19013       19013
True           198         198